# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# FastAPI
.env
.env.*
instance/
*.db
*.sqlite3

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.tox/
pytest_cache/
.cache/

# Migrations
migrations/
alembic/

# Logs
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
# pipenv
Pipfile.lock
